<body>
    <div class="cart-container">
        <h1>Tu Carrito de Compras</h1>
        <ul class="cart-products-container">
            {{#each cartDto.products}}
                <input type="hidden" class="productId" value="{{this.product}}">

                <li class="cart-item">
                    <strong class="title">{{this.title}}</strong>
                    <img src="/assets/thumbnail/{{this.thumbnail.filename}}">
                    <div class="details">
                        <p class="detail-title"><b>Precio:</b></p>
                        <p class="price">{{this.price}} USD</p>
                    </div>
                    <div class="details">
                        <p class="detail-title"><b>Cantidad:</b></p>
                        <button id="decreaseBtn">-</button>
                        <p class="quanty">{{this.quantity}}</p>
                        <button id="increaseBtn">+</button>
                        <button class="btn-delete-product">Eliminar</button>
                    </div>
                </li>
            {{/each}}
        </ul>
        <p>Total: <span class="totalAmount">{{cartDto.totalAmount}}</span> USD</p>
        
        <button class="btn-finish-purchase" id="checkout-btn">Finalizar Compra</button>
        <div id="wallet_container"></div>

    </div>
    <script src="/js/cart.js"></script>
    <script src="/js/finalizePurchase.js"></script>
</body>