<body>
    <div class="navbar">
    <a href="/" class="nav-item"><i class="bi bi-house"></i> Inicio </a>

    <div class="dropdown" id="dropdown">
        <button class="dropbtn">Categorias
            <i class="bi bi-caret-down-fill"></i>
        </button>
        <div class="dropdown-content" id="dropdownContent">
            <a href="/?category=phone" class="dropdown-item">Teléfonos</a>
            <a href="/?category=Electrodomésticos" class="dropdown-item">Electrodomésticos</a>
        </div>
    </div>

    <a href="/profile" class="nav-item" id="registerBtn">Profile</a>
    <a href="/chat" class="nav-item" id="registerBtn"><i class="bi bi-chat-right-heart"></i> Chat </a>
    {{#if user}}
        {{#if canViewRealTimeProduct}}
            <a href="/realtimeproducts" class="nav-item">ReaLTimeProduct</a>
        {{/if}}
    {{/if}}

    <div class="search-bar">
        <button type="submit" id="searchBtn"><i class="bi bi-search"></i></button>
        <input type="text" placeholder="Buscar..." id="searchInput">
    </div>

    <div class="icon" id="cartIcon">
        <i class="bi bi-cart" id="cartBtn"><p class="badge" id="cartCount">0</p></i>
    </div>

    <div class="user-section">
        <a href="/login" class="nav-item" id="loginBtn"><i class="bi bi-person-fill"></i> Login </a>
        <a href="/register" class="nav-item" id="registerBtn"><i class="bi bi-person"></i> SingUp </a>
    </div>

    <div class="icon" id="languageIcon">
        <i class="bi bi-book-half"></i>
    </div>
</div>

    <div class="container">
        <h1>Listado de Productos</h1>

        <div class="sort-buttons">
            <a href="/?page={{page}}&sort=asc" class="sort-button" id="asc-button">Ascender</a>
            <a href="/?page={{page}}&sort=desc" class="sort-button" id="desc-button">Descender</a>
        </div>

        <ul class="ProductsContainer">
            {{#each products}}
            <li class="styleList">
                <strong class="productTitle">{{this.title}}</strong>
                <img src="/assets/thumbnail/{{this.thumbnail.filename}}" alt="imagen del producto">
                <p>{{this.description}}</p>
                <div class="details">
                    <p class="detailTitle"><b>Precio:</b></p>
                    <p class="detailContent">{{this.price}}</p>
                </div>
                <div class="details">
                    <p class="detailTitle"><b>Categoría:</b></p>
                    <p class="detailContent">{{this.category}}</p>
                </div>
                <div class="details">
                    <p class="detailTitle"><b>Stock:</b></p>
                    <p class="detailContent">{{this.stock}}</p>
                </div>

                <a href="/detail/{{this._id}}" class="cta-details">Ver detalles</a>
            </li>
            {{/each}}
        </ul>

        <div class="pagination-buttons">
            {{#if hasPrevPage}}
            <button><a href="/?page={{add page -1}}&sort={{sort}}" class="pagination-button">Anterior</a></button>
            {{/if}}
            {{#if hasNextPage}}
            <a href="/?page={{add page 1}}&sort={{sort}}" class="pagination-button">Siguiente</a>
            {{/if}}
        </div>
    </div>

    <script src="/js/home.js"></script>

</body>